* {
  border: 0px solid red;
}

body {
  background: black;
  margin: 50px;
  padding: 0;
}

.header-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.header-text {
  position: absolute;
  bottom: 52px;
  left: 12px;
  font-size: 64px;
  font-family: 'Edwardian Script ITC';
  color: white;
  font-weight: bold;
}

.banner-img {
  width: 1000px;
  height: auto;
}

nav {
  font-size: 0px;
  background-color: rgb(30, 30, 30);
  position: relative;
  text-align: center;
  margin-top: -4px;
  width: 100%;
}

nav ul {
  margin: 0px;
  padding: 0px;
}

nav li {
  position: relative;
  display: inline-block;
  font-family: 'Calibri';
  font-size: 24px;
  color: white;
  background-color: rgb(30, 30, 30);
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 10px 40px;
  text-decoration: none;
}

#left-nav-button {
  border-left: 2px solid black;
}

#right-nav-button {
  border-right: 2px solid black;
}

nav li:hover {
  background-color: rgb(100, 100, 100);
  transition: ease-in .3s;
}
