* {
  border: 0px solid red;
}

body {
  position: relative;
  background: rgb(30, 30, 30);
  margin: 20px 50px;
  padding: 0;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Calibri';
}

body div {
  color:white;
  overflow-wrap: break-word;
}

.header-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  box-shadow: 2px 2px 20px black;
}

.header-text {
  position: absolute;
  bottom: 52px;
  left: 12px;
  font-size: 64px;
  font-family: 'Edwardian Script ITC';
  font-weight: bold;
}

.header-text a {
  text-decoration: none;
  color: white;
}

.banner-img {
  width: 1000px;
  height: auto;
}

nav {
  position: relative;
  text-align: center;
  margin-top: -4px;
}

nav ul {
  font-size: 0px;
  /* removes the spaces inbetween the nav buttons */
  margin: 0px;
  padding: 0px;
  /* removes the margin and padding to keep all the buttons centered */
  background:rgb(30, 30, 30);
}

nav li {
  display: inline-block;
}

nav li a {
  display: inline-block;
  position: relative;
  color: white;
  font-size: 24px;
  text-decoration: none;
  font-family: 'Calibri';
  padding: 10px 40px;
  background: rgb(30, 30, 30);
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#left-nav-button {
  border-left: 1px solid black;
}

#right-nav-button {
  border-right: 1px solid black;
}

.dropbtn {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.dropdown {
  display: none;
  text-align: left;
  position: absolute;
  box-shadow: 2px 2px 20px black;
}

.dropdown li {
  display: block;
  text-align: left;
}

.dropdown li a {
  font-size: 16px;
  text-align: left;
  width: 130px;
}

nav li a:hover {
  background: rgb(100, 100, 100);
  transition: .3s;
}

nav li:hover .dropdown {
  display: block;
}
