* {
  border: 0px solid red;
}

body {
  background: black;
  margin: 50px;
  padding: 0;
}

.header-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.header-text {
  position: absolute;
  bottom: 52px;
  left: 12px;
  font-size: 64px;
  font-family: 'Edwardian Script ITC';
  font-weight: bold;
}

.header-text a {
  text-decoration: none;
  color: white;
}

.banner-img {
  width: 1000px;
  height: auto;
}

nav {
  font-size: 0px;
  position: relative;
  text-align: center;
  margin-top: -4px;
}

/* remove default margin to prevent misalignment of nav bar contents */

nav ul {
  background-color: rgb(30, 30, 30);
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

nav li {
  position: relative;
  display: inline-block;
  font-family: 'Calibri';
  font-size: 24px;
  color: white;
  background-color: rgb(30, 30, 30);
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 10px 40px;
  text-decoration: none;
}

nav li a {
  color: white;
  text-decoration: none;
}

.dropbtn {
  display: inline-block;
  color: white;
  text-decoration: none;
}

.dropdown {
  background-color:rgb(100, 100, 100);
  visibility: hidden;
  opacity: 1;
  position: absolute;
  display: none;
  margin-top: 10px;
  left: -1px;
}

.dropdown li {
  text-align: left;
  width: 130px;
}

nav li:hover {
  background-color: rgb(100, 100, 100);
  transition: ease-in .3s;
  cursor: pointer;
}

ul li:hover .dropdown,
.dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

#left-nav-button {
  border-left: 2px solid black;
}

#right-nav-button {
  border-right: 2px solid black;
}
